@import 'tailwindcss';
@font-face {
  font-family: IranSans;
  src: url('assets/fonts/IRANSansWeb\(FaNum\).ttf');
}
 

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  font-family: IranSans;
}

::-webkit-scrollbar {
  width: 1.2vh;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 111, 250);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff2f2;
  border: ridge 0.1vh #b476fb;
  box-shadow:
    0px 0px 1px 1px #5914f8 inset,
    1px 1px 2px 1px #faf9fb;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #7747c0;
  box-shadow:
    0px 0px 1px 1px #d6b9f7,
    1px 1px 1px 1px #f9f9fb inset;
}
